/* src/styles/PreferenceSelection.css */
.preference-selection {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
  }
  
  .preference-selection h2,
  .preference-selection h3 {
    margin-bottom: 20px;
  }
  
  .tags label {
    display: block;
    margin-bottom: 10px;
  }
  
  .preference-selection button {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  