.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  .age-verification-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .age-verification-content {
    background-color: #002a8a;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
  }
  
  .age-options button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    background-color: #0055ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .age-options button:hover {
    background-color: #0038b3;
  }
  
  .age-options a {
    color: #ffff00;
    text-decoration: underline;
  }
  